<header class="m-toolbar">
  <%= link_to "Escribe algo bonito", new_letter_path, class: "a-card-cta" %>
</header>
<main id="main" class="o-wrapper">
  <nav class="o-header">
    <select class="a-sort" value="Ordenar por">
      <option>Ordenar por:</option>
      <option>Más reciente primero</option>
      <option>Más antiguo primero</option>
    </select>
    <input class="a-search-input" type="text" value="Busca por palabras">
  </nav>
  <!--LETTERS LIST-->
  <ol class="o-cards-list">
    <% @letters.each do |letter| %>
      <li class="o-cards-list__item -collapsed">
        <div class="o-cards-list__head">
          <p class="o-cards-list__head--title"><%= letter.title %></p>
          <p class="o-cards-list__head--name">
            <span> Por </span>
            <span><%= letter.author_name %></span>
          </p>
          <p class="o-cards-list__head--date">Publicado hace <%= time_ago_in_words(letter.created_at, {locale: :es}) %></p>
        </div>
        <div class="o-cards-list__body">
          <p><%= letter.body.truncate(200) %></p>
        </div>
        <%= link_to 'Continúa', letter, class: "-link" %>
      </li>
    <% end %>
  </ol>
</main>
