<header class="m-toolbar">
  <%= link_to "Escribe algo bonito", new_letter_path, class: "a-card-cta" %>
</header>
<main id="main" class="o-wrapper">
  <nav class="o-header m-options-bar">
    <%= form_tag root_path, method: :get, id: "searchForm" do %>
      <div class="m-options-bar__half">
        <%= select_tag :order, options_for_select([["Más reciente primero", "desc"], ["Más antiguo primero", "asc"]], params.dig(:order)), include_blank: "Ordenar por:", class: "a-sort", onchange: 'reload_filters()' %>
      </div>
      <div class="m-options-bar__half">
        <div class="m-search-box">
          <%= image_tag "ic-magnifying-glass.png", class: "m-search-box__icon" %>
          <%= text_field_tag :query, params.dig(:query), class: "a-search-input", placeholder: "Busca por palabras" %>
        </div>
      </div>
    <% end %>
  </nav>
  <!--LETTERS LIST-->
  <ol class="o-cards-list">
    <% @letters.each do |letter| %>
      <li class="o-cards-list__item -collapsed">
        <div class="o-cards-list__head">
          <p class="o-cards-list__head--title"><%= letter.title %></p>
          <p class="o-cards-list__head--name">
            <span> Por </span>
            <span><%= letter.author_name %></span>
          </p>
          <p class="o-cards-list__head--date">Publicado hace <%= time_ago_in_words(letter.created_at, {locale: :es}) %></p>
        </div>
        <div class="o-cards-list__body">
          <p><%= letter.body.truncate(200) %></p>
        </div>
        <%= link_to 'Continúa', letter, class: "-link" %>
      </li>
    <% end %>
  </ol>
</main>

<script>
  function reload_filters() {
      form = document.getElementById("searchForm");
      form.submit();
  }
</script>