<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @letter.title %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @letter.author_name %>
</p>

<p>
  <strong>Author city:</strong>
  <%= @letter.author_city %>
</p>

<p>
  <strong>Body:</strong>
  <%= @letter.body %>
</p>

<%= link_to 'Back', letters_path %>
