<div class="o-cards-list -full -form-wrapper">
  <%= link_to 'Volver', letters_path, class: "-back-link" %>

  <div class="o-cards-list__head">
    <p class="o-cards-list__head--title"><%= @letter.title %></p>

    <% if @letter.pending? %>
      <p class="m-success-explanation">Este mensaje está todavía pendiente de moderación.</p>
    <% end %>


    <p class="o-cards-list__head--name">
      <span> Por </span>
      <span> <%= @letter.author_name %> </span>
    </p>
    <p class="o-cards-list__head--date"> Publicado hace <%= time_ago_in_words(@letter.created_at, {locale: :es}) %></p>
  </div>
  <div class="o-cards-list__body -regular-text">
    <p> <%= @letter.body %></p>
  </div>
  <%= link_to 'Atras', letters_path, class: "-link" %>
</div>