<!DOCTYPE html>
<html>
  <head>
    <title>Cartas contra el Covid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="o-header">
      <select class="a-sort" value="Ordenar por">
        <option>Ordenar por:</option>
        <option>Más reciente primero</option>
        <option>Más antiguo primero</option>
      </select>
      <input class="a-search-input" type="text" name="Busca por palabras">
    </header>
    <%= yield %>
  </body>
</html>
